.App {
  height: 100vh;
  background-color: black;
  overflow: scroll;
  text-align: center;
  overflow: hidden;
  object-fit:contain;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: white;
  position: relative;
  background-image:url('img/bg-sword.jpg');
  background-size:100%;
  background-position:center;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  /* background-color: #60c657; */
}

.header {
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 80px;
  font-weight: bold;
  user-select:none;
}

.sub-text {
  font-size: 25px;
  color: #da8e00;
  text-shadow: 1px 0 5px black;
  user-select:none;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  user-select:none;
}

.connect-wallet-button {
  color: black;
  background: #FF9900;
  background-size: 200% 200%;
}

.mint-button {
  margin:0 auto;
  width:30%;
  color:#ffffff;
  background: black;
  background-size: 200% 200%;
  box-shadow:0 0 10px #FF9900;
}

.unpublished-button {
  font-size:40px;
  padding:10px;
  border-radius: 0;
  margin:0 auto;
  width:30%;
  color:#ffffff;
  background: #000000;
  background-size: 200% 200%;
  user-select:none;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  user-select:none;
  /* padding-bottom: 45px; */
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
